<div class="relative" appClickOutside (clickOutside)="closeWindow()">
    <input [(ngModel)]="searchQuery" (focus)="openWindow()" (input)="onSearch()" placeholder="Enter user ID..."
        class="text-black" />

    <div *ngIf="isWindowOpen"
        class="absolute w-[400px] bg-white z-10 text-black border-2 border-black h-[100px] rounded-lg p-5">
        <div *ngIf="loading$ | async">
            Searching...
        </div>

        <div *ngIf="user$ |async as user">
            <div class="flex gap-3 hover:bg-gray-50">
                <a [routerLink]="[routes.usersPage, user.id]" (click)="closeWindow()">
                    <img [src]="user.avatar" alt="{{ user.first_name }}'s avatar"
                        class="rounded-lg w-[50px] h-[50px] object-cover">
                </a>
                <div class="flex flex-col justify-center">

                    <a [routerLink]="[routes.usersPage, user.id]" (click)="closeWindow()">
                        <h3 class="text-lg">{{ user.first_name }} {{ user.last_name }}</h3>
                    </a>
                    <a class="hover:text-green-400 transition-all duration-200 text-sm" [href]="'mailto:' + user.email"
                        target="_blank">
                        {{ user.email}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div *ngIf="loading">Searching...</div>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>



<div *ngIf="user === null && !loading && !errorMessage">
    <p>No user found with this ID.</p>
</div> -->